{% extends 'base.html.twig' %}

{% block title %}Détails Ouvrier{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title">Détails de l'Ouvrier</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ ouvrier.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ ouvrier.nomOuvrier }}</td>
                </tr>
                <tr>
                    <th>Compétence</th>
                    <td>{{ ouvrier.competance }}</td>
                </tr>
                <tr>
                    <th>Rôle</th>
                    <td>{{ ouvrier.role }}</td>
                </tr>
                <tr>
                    <th>Planning</th>
                    <td>{{ ouvrier.planning }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_ouvrier_index') }}" class="btn btn-secondary">Retour à la liste</a>
        <a href="{{ path('app_ouvrier_edit', {'id': ouvrier.id}) }}" class="btn btn-warning">Modifier</a>
        {{ include('ouvrier/_delete_form.html.twig') }}
    </div>
{% endblock %}
